// Super minimal reset

*, *::before, *::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #444;
}

.site-header {
  padding: 3rem 0 1rem 0;

  img {
    width: 128px;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3rem;
  }
}

.landing {
  padding-bottom: 2rem;

  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.site-footer {
  font-size: 0.5rem;
}
